@import "../../../assets/scss/mixins";

// strat heading-bar

.heading-bar {
  background-color: var(--secondary-color);
  .row {
    height: 44px;

    p,
    a {
      color: #f1f1f1;
      font-family: var(--font-family-josefin);
      font-size: var(--font-size-medium);
      font-weight: 600;
      svg {
        width: 16px;
      }
    }
    .head-left {
      .envelope {
        margin-inline-end: 48px;
        @include respond-to(medium) {
          margin-right: 10px;
        }

        span {
          padding-right: 10px;
        }
      }

      .phone {
        span {
          padding-right: 12px;
        }
      }

      @include respond-to(small) {
        display: none;
      }
    }

    .head-right {
      li {
        cursor: pointer;
        a {
          padding: 10px;
          svg {
            width: 16px;
            height: 16px;
          }

          .wish {
            padding-left: 3px;
          }

          ul {
            min-width: 8rem !important;

            li {
              margin: 0 10px;

              a {
                font-family: var(--font-family-josefin);
                font-size: var(--font-size-small);
                font-weight: 600;
                color: var(--black);
                border-radius: 6px;

                &:hover {
                  background-color: var(--secondary-color);
                  color: var(--white);
                  transition: 0.4s;
                }
              }
              button {
                font-family: var(--font-family-josefin);
                font-size: var(--font-size-small);

                font-weight: 600;
                color: var(--black);
                border-radius: 6px;

                &:hover {
                  background-color: var(--secondary-color);
                  color: var(--white);
                  transition: 0.4s;
                }
              }
            }
          }
        }
      }
    }
    .logo {
      margin-top: 4px;
    }
  }
}

// strat heading-bar
//start nav-bar

.nav-bar {
  height: 40px;
  margin: 19px 0;

  .nav {
    .nav-item {
      .nav-link {
        padding: 10px !important;
        color: #0d0e43;
        font-size: var(--font-size-medium);
        cursor: pointer;
        font-weight: 400;
        line-height: 20px;
        cursor: pointer;
        /* 125% */
      }

      .active {
        color: var(--accent-color);
      }
    }
  }

  .search {
    width: 317px;
    height: 40px;

    input {
      &:focus {
        box-shadow: none;
      }
    }

    .search-icon {
      width: 51px;
      background-color: var(--accent-color);
      cursor: pointer;

      svg {
        width: 24px;
        height: 24px;
        color: var(--white);
      }
    }
  }
}

//end nav-bar
//start offcanvas

.offcanvas {
  width: calc(100% - 50%);

  @include respond-to(small) {
    width: calc(100% - 30%);
  }

  // .offcanvas-header {
  // h5 {
  //   color: var(--secondary-color);
  //   font-family: var(--font-family-josefin);
  //   font-size: 30px;

  //   font-weight: 700;
  // }
  // }

  .offcanvas-body {
    .link {
      ul {
        a {
          color: #0d0e43;
          font-family: var(--font-family-josefin);
          font-size: var(--font-size-medium);
          cursor: pointer;
          font-weight: 400;
        }
        .lang {
          li {
            padding: 0 10px;
            button {
              font-family: var(--font-family-josefin);
              font-size: var(--font-size-small);
              font-weight: 600;
              color: var(--black);
              border-radius: 6px;

              &:hover {
                background-color: var(--secondary-color);
                color: var(--white);
                transition: 0.4s;
              }
            }
          }
        }
      }
    }

    .icon {
      a {
        cursor: pointer;
        svg {
          color: var(--secondary-color);
        }
      }
    }

    .nav {
      a {
        color: #0d0e43;
        cursor: pointer;
        font-family: var(--font-family-josefin);
        font-size: var(--font-size-medium);
        font-weight: 400;
      }

      .active {
        color: var(--accent-color);
      }
    }

    p {
      color: #0d0e43;
      font-family: var(--font-family-josefin);
      font-size: var(--font-size-medium);
      font-weight: 600;
      svg {
        color: var(--secondary-color);
      }
    }
  }
}

//end offcanvas
