// vars
$main-color: #7e33e0;
$secondry-color: #fb2e86;
$third-color: #151875;
$white: #fff;
$black: #000;
$fs-14: 14px;
$fs-16: 16px;
$font-family-roboto: Roboto;
$font-family-Josefin: Josefin Sans;
