//start register

.register-form {
  padding: 15px 0px;
  background: linear-gradient(to top right, #fc2c77 0%, #6c4079 100%);
  .title-register {
    h1 {
      color: var(--black);
      font-family: var(--font-family-josefin);
      font-size: 32px;
      font-weight: 700;
    }
    p {
      color: #9096b2;
      font-size: 17px;
      font-weight: 400;
    }
  }
  form {
    label {
      color: var(--black);
      font-size: var(--font-size-large);
      font-weight: 600;
    }
    input {
      border-radius: 2px;
      border: 1px solid #c2c5e1;
      padding: 13px;
      outline: 0;
      font-size: var(--font-size-large);
      &:focus {
        border-color: var(--accent-text-color);
      }
      &::-webkit-input-placeholder {
        color: #9096b2;
        font-size: var(--font-size-medium);
        font-weight: 400;
      }

      &::-moz-placeholder {
        color: #9096b2;
        font-size: var(--font-size-medium);
        font-weight: 400;
      }

      &:-ms-input-placeholder {
        color: #9096b2;
        font-size: var(--font-size-medium);
        font-weight: 400;
      }

      &::-ms-input-placeholder {
        color: #9096b2;
        font-size: var(--font-size-medium);
        font-weight: 400;
      }

      &::placeholder {
        color: #9096b2;
        font-size: var(--font-size-medium);
        font-weight: 400;
      }
    }
    .btn-signUp {
      width: 100%;
      color: var(--white);

      font-size: 17px;
      font-weight: 700;
      border-radius: 3px;
      background: var(--accent-bg-color);
      padding: 13px;
    }
    .hint-login {
      p {
        color: #9096b2;
        font-size: 17px;
        font-weight: 600;
        a {
          text-decoration: none;
          color: var(--black);
          font-size: var(--font-size-large);
          font-weight: 600;
        }
      }
    }
  }
}

//end register
//start style for rtl

:host-context([dir="rtl"]) {
  .register-form {
    .title-register {
      h1 {
        font-family: var(--font-family-lateef);
        font-size: var(--font-size-xxlarge);
      }
      p {
        font-size: var(--font-size-xlarge);
      }
    }
    form {
      label {
        font-size: var(--font-size-xlarge);
      }
      input {
        font-size: var(--font-size-xlarge);
        &::placeholder {
          font-size: var(--font-size-large);
        }
      }
      .btn-signUp {
        font-size: var(--font-size-xlarge);
      }
      .hint-login {
        p {
          font-size: var(--font-size-xlarge);

          a {
            font-size: var(--font-size-xlarge);
          }
        }
      }
    }
  }
}
