<div *ngIf="isLoading" class="loading-spinner">
  <div class="spinner">
    <img src="../../../../assets/images/home/Icon/furniture.gif" alt="" />
  </div>
</div>
<div class="register-form">
  <div class="container">
    <div class="row min-vh-100">
      <div
        class="col-lg-8 col-12 m-auto gap-3 bg-white shadow p-sm-5 px-3 py-5 rounded-2 d-flex flex-column"
      >
        <div class="title-register text-center">
          <h1>{{ "register.register" | translate }}</h1>
          <p>
            {{ "register.description" | translate }}
          </p>
        </div>
        <form
          class="d-flex gap-4 flex-column"
          [formGroup]="registerForm"
          (ngSubmit)="submitRegister()"
        >
          <div *ngIf="errorMessage" class="error-message">
            <p class="error-text">{{ errorMessage }}</p>
          </div>
          <!-- 2 column grid layout with text inputs for the first and last names -->
          <div class="row gap-2">
            <div class="col">
              <!-- First Name input -->
              <div class="d-flex flex-column gap-2">
                <label class="firstName-label" for="firstName">
                  {{ "register.firstName" | translate }}
                </label>
                <input
                  formControlName="firstName"
                  type="text"
                  id="firstName"
                  class="firstName-input"
                  [placeholder]="'register.firstName' | translate"
                />
                <div
                  *ngIf="
                    registerForm.get('firstName')?.errors &&
                    registerForm.get('firstName')?.touched
                  "
                  class="error-message mb-0"
                >
                  <p class="error-text" *ngIf="getErrorMessage('firstName')">
                    {{ getErrorMessage("firstName") | translate }}
                  </p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="d-flex flex-column gap-2">
                <label class="lastName-label" for="lastName">
                  {{ "register.lastName" | translate }}
                </label>
                <input
                  type="text"
                  id="lastName"
                  class="lastName-input"
                  [placeholder]="'register.lastName' | translate"
                  formControlName="lastName"
                />
                <div
                  *ngIf="
                    registerForm.get('lastName')?.errors &&
                    registerForm.get('lastName')?.touched
                  "
                  class="error-message mb-0"
                >
                  <p class="error-text" *ngIf="getErrorMessage('lastName')">
                    {{ getErrorMessage("lastName") | translate }}
                  </p>
                </div>
              </div>
            </div>
          </div>

          <!-- Email input -->
          <div class="d-flex flex-column gap-2">
            <label class="emailAddress-label" for="emailAddress">
              {{ "register.email" | translate }}
            </label>
            <input
              type="email"
              id="emailAddress"
              class="emailAddress-input"
              [placeholder]="'register.email' | translate"
              formControlName="email"
            />
            <div
              *ngIf="
                registerForm.get('email')?.errors &&
                registerForm.get('email')?.touched
              "
              class="error-message mb-0"
            >
              <p class="error-text" *ngIf="getErrorMessage('email')">
                {{ getErrorMessage("email") | translate }}
              </p>
            </div>
          </div>

          <!-- Password input -->
          <div class="d-flex flex-column gap-2">
            <label class="password-label" for="password">
              {{ "register.password" | translate }}
            </label>
            <input
              type="password"
              id="password"
              class="password-input"
              [placeholder]="'register.password' | translate"
              formControlName="password"
            />
            <div
              *ngIf="
                registerForm.get('password')?.errors &&
                registerForm.get('password')?.touched
              "
              class="error-message mb-0"
            >
              <p class="error-text" *ngIf="getErrorMessage('password')">
                {{ getErrorMessage("password") | translate }}
              </p>
            </div>
          </div>

          <!-- Confirm Password input -->
          <div class="d-flex flex-column gap-2">
            <label class="cPassword-label" for="cPassword">
              {{ "register.confirmPassword" | translate }}
            </label>
            <input
              type="password"
              id="cPassword"
              class="cPassword-input"
              [placeholder]="'register.confirmPassword' | translate"
              formControlName="cPassword"
            />
            <div
              *ngIf="
                registerForm.get('cPassword')?.errors &&
                registerForm.get('cPassword')?.touched
              "
              class="error-message mb-0"
            >
              <p class="error-text" *ngIf="getErrorMessage('cPassword')">
                {{ getErrorMessage("cPassword") | translate }}
              </p>
            </div>
          </div>

          <div class="d-flex align-items-center flex-column flex-md-row">
            <!-- Submit button -->
            <div class="d-flex col-md-5 col-12">
              <button type="submit" class="btn btn-signUp">
                {{ "register.signUp" | translate }}
              </button>
            </div>

            <!-- Register buttons -->
            <div class="hint-login col-md-7 col-12 mx-3 my-3 my-md-0">
              <p>
                {{ "register.anAccount" | translate }}
                <a [routerLink]="['/', currentLang, 'login']">{{
                  "register.login" | translate
                }}</a>
              </p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
