<div class="register-form">
  <div class="container">
    <div class="row min-vh-100">
      <div
        class="col-lg-7 col-12 m-auto gap-3 bg-white shadow p-5 rounded-2 d-flex flex-column"
      >
        <div class="title-register text-center">
          <h1>{{ "register.register" | translate }}</h1>
          <div *ngIf="error" class="alert alert-primary mb-0">
            <h5>
              {{ error }}
            </h5>
          </div>
          <p>
            {{ "register.description" | translate }}
          </p>
        </div>
        <form
          class="d-flex gap-4 flex-column"
          [formGroup]="registerForm"
          (ngSubmit)="submitRegister(registerForm)"
        >
          <!-- 2 column grid layout with text inputs for the first and last names -->
          <div class="row gap-2">
            <div class="col">
              <div class="d-flex flex-column gap-2">
                <label class="firstName-label" for="firstName">{{
                  "register.firstName" | translate
                }}</label>
                <input
                  type="text"
                  id="firstName"
                  class="firstName-input"
                  placeholder="{{ 'register.firstName' | translate }}"
                  formControlName="firstName"
                />
                <div
                  *ngIf="
                    registerForm.get('firstName')?.errors &&
                    registerForm.get('firstName')?.touched
                  "
                  class="alert alert-primary mb-0"
                  role="alert"
                >
                  <p
                    *ngIf="registerForm.get('firstName')?.errors?.['required']"
                  >
                    <strong>{{ "register.firstName" | translate }}</strong>
                    {{ "register.required" | translate }}
                  </p>
                  <p
                    *ngIf="registerForm.get('firstName')?.errors?.['minlength']"
                  >
                    <strong>{{ "register.firstName" | translate }}</strong>
                    {{ "register.minLength" | translate }}
                  </p>
                  <p
                    *ngIf="registerForm.get('firstName')?.errors?.['maxlength']"
                  >
                    <strong>{{ "register.firstName" | translate }}</strong>
                    {{ "register.maxLength" | translate }}
                  </p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="d-flex flex-column gap-2">
                <label class="lastName-label" for="lastName">
                  {{ "register.lastName" | translate }}</label
                >
                <input
                  type="text"
                  id="lastName"
                  class="lastName-input"
                  placeholder=" {{ 'register.lastName' | translate }}"
                  formControlName="lastName"
                />
                <div
                  *ngIf="
                    registerForm.get('lastName')?.errors &&
                    registerForm.get('lastName')?.touched
                  "
                  class="alert alert-primary mb-0"
                  role="alert"
                >
                  <p *ngIf="registerForm.get('lastName')?.errors?.['required']">
                    <strong> {{ "register.lastName" | translate }}</strong>
                    {{ "register.required" | translate }}
                  </p>
                  <p
                    *ngIf="registerForm.get('lastName')?.errors?.['minlength']"
                  >
                    <strong> {{ "register.lastName" | translate }}</strong>
                    {{ "register.minLength" | translate }}
                  </p>
                  <p
                    *ngIf="registerForm.get('lastName')?.errors?.['maxlength']"
                  >
                    <strong> {{ "register.lastName" | translate }}</strong>
                    {{ "register.maxLength" | translate }}
                  </p>
                </div>
              </div>
            </div>
          </div>

          <!-- Email input -->
          <div class="d-flex flex-column gap-2">
            <label class="emailAddress-label" for="emailAddress">
              {{ "register.emailAddress" | translate }}</label
            >
            <input
              type="email"
              id="emailAddress"
              class="emailAddress-input"
              placeholder="{{ 'register.emailAddress' | translate }}"
              formControlName="email"
            />
            <div
              *ngIf="
                registerForm.get('email')?.errors &&
                registerForm.get('email')?.touched
              "
              class="alert alert-primary mb-0"
              role="alert"
            >
              <p *ngIf="registerForm.get('email')?.errors?.['required']">
                <strong>{{ "register.email" | translate }}</strong>
                {{ "register.required" | translate }}
              </p>
              <p *ngIf="registerForm.get('email')?.errors?.['email']">
                <strong>{{ "register.email" | translate }}</strong
                >{{ "register.invalid" | translate }}
              </p>
            </div>
          </div>

          <!-- Password input -->
          <div class="d-flex flex-column gap-2">
            <label class="password-label" for="password">{{
              "register.password" | translate
            }}</label>
            <input
              type="password"
              id="password"
              class="password-input"
              placeholder="{{ 'register.password' | translate }}"
              formControlName="password"
            />
            <div
              *ngIf="
                registerForm.get('password')?.errors &&
                registerForm.get('password')?.touched
              "
              class="alert alert-primary"
              role="alert"
            >
              <p *ngIf="registerForm.get('password')?.errors?.['required']">
                <strong>{{ "register.password" | translate }}</strong>
                {{ "register.required" | translate }}
              </p>
              <p *ngIf="registerForm.get('password')?.errors?.['pattern']">
                <strong>{{ "register.password" | translate }}</strong>
                {{ "register.condition" | translate }}
              </p>
            </div>
          </div>

          <!-- Password input -->
          <div class="d-flex flex-column gap-2">
            <label class="cPassword-label" for="cPassword">
              {{ "register.confirmPassword" | translate }}
            </label>
            <input
              type="password"
              id="cPassword"
              class="cPassword-input"
              placeholder="{{ 'register.confirmPassword' | translate }}"
              formControlName="cPassword"
            />
            <div
              *ngIf="registerForm.controls?.['cPassword']?.errors"
              class="alert alert-primary"
              role="alert"
            >
              <p>
                <strong>{{ "register.yourPassword" | translate }}</strong>
                {{ "register.passwordCondition" | translate }}
              </p>
            </div>
          </div>

          <!-- Submit button -->
          <div class="d-flex gap-3">
            <button
              type="submit"
              class="btn btn-signUp"
              [disabled]="registerForm.invalid"
            >
              {{ "register.signUp" | translate }}
            </button>
          </div>

          <!-- Register buttons -->
          <div class="text-center hint-login">
            <p>
              {{ "register.anAccount" | translate }}
              <a [routerLink]="['/', currentLang, 'login']">{{
                "register.login" | translate
              }}</a>
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
