@import "../../../assets/scss/vars";
@import "../../../assets/scss/mixins";
::ng-deep {
  .title-head {
    color: $third-color;
    font-family: $font-family-Josefin;
    font-size: 42px;
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 45px;
    @include smwidth {
      font-size: 38px;
    }
  }
}
