<app-slider [homePage]="datahomePage"></app-slider>
<app-featured-products [homePage]="datahomePage"></app-featured-products>
<app-latest-products [homePage]="datahomePage"></app-latest-products>
<app-shopex-offer [homePage]="datahomePage"></app-shopex-offer>
<app-trend-pro></app-trend-pro>
<app-trending-products [homePage]="datahomePage"></app-trending-products>
<app-discount-item [homePage]="datahomePage"></app-discount-item>
<app-top-categories [homePage]="datahomePage"></app-top-categories>
<app-newslater></app-newslater>
<app-image-companies></app-image-companies>
<app-leatest-blog [homePage]="datahomePage"></app-leatest-blog>
