<!-- <footer>
  <div class="container">
    <div class="row">
      <div
        class="col-xl-4 col-lg-5 col-md-6 col-12 mb-4 mb-md-0 px-2 me-0 me-xl-4"
      >
        <div class="logo mb-3">
          <a routerLink="/"
            ><img src="../../../../../assets/images/home/logo.svg" alt=""
          /></a>
        </div>
        <div
          class="sign-up d-flex justify-content-between align-items-center p-1"
        >
          <input
            type="email"
            class="border-0 ms-2"
            placeholder="{{ footer.placeholder | translate }}"
          />
          <div class="sign text-center">
            <p class="p-0">{{ footer.btnFooter | translate }}</p>
          </div>
        </div>
        <p class="m-0">{{ footer.contactInfo | translate }}</p>
        <p class="m-0">{{ footer.contactDES | translate }}</p>
      </div>
      <div
        class="col-xl-2 col-lg-3 col-md-6 col-12"
        *ngFor="let item of footer.listFooter"
      >
        <h5>{{ item.titleFooter | translate }}</h5>
        <ul class="text-start" *ngFor="let list of item.list">
          <li>
            <a>{{ list.listTitle1 | translate }}</a>
          </li>
          <li>
            <a>{{ list.listTitle2 | translate }}</a>
          </li>
          <li>
            <a>{{ list.listTitle3 | translate }}</a>
          </li>
          <li>
            <a>{{ list.listTitle4 | translate }}</a>
          </li>
          <li>
            <a>{{ list.listTitle5 | translate }}</a>
          </li>
          <li>
            <a>{{ list.listTitle6 | translate }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<div class="copyRight d-flex align-items-center py-3 py-sm-0">
  <div class="container">
    <div class="copyRight">
      <p>{{ footer.copyRight | translate }}</p>
      <ul class="d-flex align-items-center">
        <li>
          <a href=""><i class="fa-brands fa-facebook-f fa-fw"></i></a>
        </li>
        <li>
          <a href=""><i class="fa-brands fa-instagram fa-fw"></i></a>
        </li>
        <li>
          <a href=""><i class="fa-brands fa-twitter fa-fw"></i></a>
        </li>
      </ul>
    </div>
  </div>
</div> -->
