@import "../../../../../assets/scss/mixins";

//start slider

.slider {
  background-color: #f2f0ff;
  ::ng-deep {
    .owl-carousel {
      .owl-dots {
        padding-bottom: 30px;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
        .owl-dot {
          &.active,
          &:hover {
            span {
              background-color: var(--accent-color);
            }
          }
          span {
            width: 15px;
            height: 15px;
            display: block;
            border-radius: 0;
            transform: rotate(45deg);
            background: none;
            border: 1px solid var(--accent-color);
          }
        }
      }
      .slide-content {
        min-height: calc(100vh - 122px);
        .item-text {
          .hint {
            color: var(--accent-color);
            font-size: var(--font-size-medium);
            font-weight: 700;
          }
          .title-slider {
            color: var(--black);
            font-family: var(--font-family-josefin);
            font-size: 53px;
            font-weight: 700;
            letter-spacing: 1px;
            @include respond-to(small) {
              font-size: 27px;
            }
          }
          .description-slider {
            color: #8a8fb9;
            font-size: var(--font-size-medium);
            font-weight: 700;
            line-height: 1.6;
            @include respond-to(small) {
              font-size: var(--font-size-small);
            }
          }
          .btn-shop {
            border-radius: 2px;
            padding: 16px 40px;
            background: var(--accent-color);
            color: var(--white);
            font-family: var(--font-family-josefin);
            font-size: 17px;
            font-weight: 600;
            @include respond-to(small) {
              padding: 12px 25px;
            }
          }
          .img-Lamp {
            max-width: 350px;
            max-height: 350px;
            left: 0;
            top: -58px;
            z-index: -1;
          }
        }
        .item-img {
          .Ellipse-1 {
            z-index: -1;
            left: -8px;
            top: 0;
            @include respond-to(small) {
              left: 0;
            }
          }
          .Ellipse-2 {
            top: -45px;
            z-index: -1;
            left: 25px;
          }
          .vector {
            max-width: 120px;
            max-height: 120px;
            right: 0;
            top: -20px;
            @include respond-to(small) {
              img {
                max-width: 100px;
                max-height: 100px;
              }
            }
          }
        }
      }
    }
  }
}

//end slider
//start style for rtl
:host-context([dir="rtl"]) {
  .slider {
    ::ng-deep {
      .owl-carousel {
        .slide-content {
          .item-text {
            .hint {
              font-size: var(--font-size-xxlarge);
            }
            .title-slider {
              font-family: var(--font-family-lateef);
              font-size: 53px;

              @include respond-to(small) {
                font-size: 27px;
              }
            }
            .description-slider {
              font-size: var(--font-size-large);

              @include respond-to(small) {
                font-size: var(--font-size-small);
              }
            }

            .img-Lamp {
              right: 0;
            }
          }
        }
      }
    }
  }
}
