@import "../../../../../assets/scss/mixins";

.Trending-Products {
  .trendPro {
    margin: 10px 0;
    padding: 11px;
    height: 350px;
    box-shadow: 0px 8px 40px 0px rgba(49, 32, 138, 0.05);
    transition: 0.3s;
    -webkit-animation: fadeIn 3s;
    animation: fadeIn 3s;

    &:hover {
      transform: scale(1.03);
    }

    .trendImg {
      background-color: #f5f6f8;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 244px;
    }

    .card-body {
      .card-title {
        color: var(--primary-color);
        text-align: center;
        font-size: var(--font-size-medium);
        font-weight: 700;
        line-height: 25.6px;
        /* 160% */
      }

      .saletrend {
        .sale-new {
          margin-right: 12px;
          color: var(--primary-color);
          /* Caption\ */
          font-family: var(--font-family-josefin);
          font-size: var(--font-size-small);
          font-weight: 400;
        }

        .sale-old {
          color: rgba(21, 24, 117, 0.3);
          /* price cut */
          font-family: var(--font-family-josefin);
          font-size: var(--font-size-xsmall);
          font-weight: 400;
        }
      }
    }
  }
}

.trend-offer {
  margin-top: 39px;

  .amont-offer {
    padding: 34px 0 0 25px;
    /* shadow */
    box-shadow: 0px 8px 40px 0px rgba(49, 32, 138, 0.05);
  }

  .title-offer {
    margin-bottom: 11px;
    color: var(--primary-color);
    font-family: var(--font-family-josefin);
    font-size: 26px;
    font-weight: 600;
  }

  .link-offer {
    color: var(--accent-color);
    text-align: center;
    font-size: var(--font-size-medium);
    font-weight: 600;
    text-decoration-line: underline;
  }

  .img-offer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .img1 {
    background-color: #fff6fb;
  }

  .img2 {
    background-color: #eeeffb;
  }
}

.Trending-products-list {
  padding: 15px 0;

  .list {
    margin-bottom: 20px;

    .list-img {
      background-color: #f5f6f8;
      width: 107px;
      height: 74px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .list-body {
      padding-left: 9px;

      .list-title {
        color: var(--primary-color);
        text-align: center;
        /* button text */
        font-family: var(--font-family-josefin);
        font-size: var(--font-size-medium);
        font-weight: 600;
      }

      .list-sale {
        color: var(--primary-color);
        /* price cut */
        font-family: var(--font-family-josefin);
        font-size: var(--font-size-xsmall);
        font-weight: 400;
      }
    }
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

//start style for rtl
:host-context([dir="rtl"]) {
  .Trending-Products {
    .trendPro {
      .card-body {
        .card-title {
          font-size: var(--font-size-xlarge);
        }

        .saletrend {
          .sale-new {
            margin-left: 12px;

            font-family: var(--font-family-josefin);
            font-size: var(--font-size-medium);
          }

          .sale-old {
            font-family: var(--font-family-josefin);
            font-size: var(--font-size-medium);
          }
        }
      }
    }
  }

  .trend-offer {
    .amont-offer {
      padding: 34px 25px 0 0;
    }

    .title-offer {
      font-family: var(--font-family-lateef);
      font-size: 32px;
    }

    .link-offer {
      font-size: var(--font-size-xlarge);
    }
  }
  .Trending-products-list {
    .list {
      .list-body {
        padding-right: 9px;

        .list-title {
          font-family: var(--font-family-lateef);
          font-size: var(--font-size-xlarge);
        }

        .list-sale {
          font-family: var(--font-family-lateef);
          font-size: var(--font-size-large);
        }
      }
    }
  }
}
