<div class="Trending-Products" *ngIf="homePage">
  <div class="container">
    <div class="title-head">{{ "HOME.trendingProTittle" | translate }}</div>
    <div class="row">
      <div
        class="col-lg-3 col-md-6 col-12"
        *ngFor="let trendPro of homePage.trendingProducts.trendingPro"
      >
        <div class="card border-0 trendPro">
          <div class="card-img-top trendImg">
            <img src="{{ trendPro.trendImg }}" class="mw-100" alt="Title" />
          </div>
          <div class="card-body">
            <h4 class="card-title">{{ trendPro.trendTitle }}</h4>
            <div
              class="saletrend d-flex justify-content-center align-items-center"
            >
              <p class="sale-new">{{ trendPro.saleNew }}</p>
              <p class="sale-old">{{ trendPro.saleOld }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row trend-offer">
      <div class="col-lg-4 col-md-6 col-12">
        <div class="amont-offer h-100 img1">
          <div class="title-offer">
            {{ "HOME.trendingProducts.amontOffer.titleOffer1" | translate }}
          </div>
          <a class="link-offer" href="">{{ "HOME.btnShop" | translate }}</a>
          <div class="img-offer">
            <img
              src="../../../../../assets/images/home/image 1162.png"
              class="mw-100"
              alt=""
            />
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="amont-offer h-100 img2">
          <div class="title-offer">
            {{ "HOME.trendingProducts.amontOffer.titleOffer2" | translate }}
          </div>
          <a class="link-offer" href="">{{
            "HOME.trendingProducts.amontOffer.linkOffer2" | translate
          }}</a>
          <div class="img-offer">
            <img
              src="../../../../../assets/images/home/image 1161.png"
              class="mw-100"
              alt=""
            />
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12 ps-lg-3 h-100">
        <div class="Trending-products-list d-flex flex-column">
          <div
            class="list d-flex justify-content-start align-items-center"
            *ngFor="let list of homePage.trendingProducts.trendList"
          >
            <div class="list-img">
              <img src="{{ list.listImg }}" class="mw-100" alt="" />
            </div>
            <div class="list-body">
              <p class="list-title m-0">{{ list.listTitle }}</p>
              <p class="list-sale m-0">{{ list.listSale }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
