<div>
  <h3>Contact Way</h3>
  <div class="row contactWay">
    <div class="col col-md-6 col-12 d-flex align-items-center">
      <div class="circle cir1"></div>
      <div>
        <p>Tel: 877-67-88-99</p>
        <p>E-Mail: shop@store.com</p>
      </div>
    </div>
    <div class="col col-md-6 col-12 d-flex align-items-center">
      <div class="circle cir2"></div>
      <div>
        <p>Support Forum</p>
        <p>For over 24hr</p>
      </div>
    </div>
    <div class="col col-md-6 col-12 d-flex align-items-center">
      <div class="circle cir3"></div>
      <div>
        <p>20 Margaret st, London</p>
        <p>Great britain, 3NM98-LK</p>
      </div>
    </div>
    <div class="col col-md-6 col-12 d-flex align-items-center">
      <div class="circle cir4"></div>
      <div>
        <p>Free standard shipping</p>
        <p>on all orders.</p>
      </div>
    </div>
  </div>
</div>
