<div>
  <h3>{{ "CONTACT.contactWay.title" | translate }}</h3>
  <div class="row contactWay">
    <div class="col col-md-6 col-12 d-flex align-items-center">
      <div class="circle cir1"></div>
      <div>
        <p>{{ "CONTACT.contactWay.phoneNum" | translate }}</p>
        <p>{{ "CONTACT.contactWay.email" | translate }}</p>
      </div>
    </div>
    <div class="col col-md-6 col-12 d-flex align-items-center">
      <div class="circle cir2"></div>
      <div>
        <p>{{ "CONTACT.contactWay.support" | translate }}</p>
        <p>{{ "CONTACT.contactWay.over" | translate }}</p>
      </div>
    </div>
    <div class="col col-md-6 col-12 d-flex align-items-center">
      <div class="circle cir3"></div>
      <div>
        <p>{{ "CONTACT.contactWay.Address1" | translate }}</p>
        <p>{{ "CONTACT.contactWay.Address2" | translate }}</p>
      </div>
    </div>
    <div class="col col-md-6 col-12 d-flex align-items-center">
      <div class="circle cir4"></div>
      <div>
        <p>{{ "CONTACT.contactWay.standard" | translate }}</p>
        <p>{{ "CONTACT.contactWay.order" | translate }}</p>
      </div>
    </div>
  </div>
</div>
