<div class="container">
  <div class="row contact">
    <div class="box col-lg-5 col-12">
      <app-info-about></app-info-about>
    </div>
    <div class="box col-lg-6 offset-lg-1 col-12">
      <app-contact-way></app-contact-way>
    </div>
    <div class="box col-lg-5 col-12">
      <app-form></app-form>
    </div>
    <div class="box d-md-block d-none col-lg-6 offset-lg-1 col-12">
      <img
        src="../../../assets/images/contacts-us/Group 124.png"
        class="mw-100"
        alt=""
      />
    </div>
  </div>
</div>
