<div class="trend-content">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-12">
        <div class="img-trend position-relative d-flex justify-content-center">
          <img
            src="../../../../../assets/images/home/Ellipse 63.png"
            class="position-absolute Ellipse mw-100"
            alt=""
          />
          <img
            src="../../../../../assets/images/home/Home-Stylish-Club-Sofa-Chair-Pleated-Sofa-Armchair-with-Golden-Legs 1.png"
            alt=""
            class="mw-100"
          />
        </div>
      </div>
      <div class="col-lg-6 col-12 d-flex align-items-center">
        <div class="trend-text">
          <h3>Unique Features Of leatest & Trending Poducts</h3>
          <ul>
            <li>All frames constructed with hardwood solids and laminates</li>
            <li>
              Reinforced with double wood dowels, glue, screw - nails corner
              <br />
              blocks and machine nails
            </li>
            <li>Arms, backs and seats are structurally reinforced</li>
          </ul>
          <div class="d-flex align-items-center btn-cart">
            <a href="#" class="btn">Add To Cart</a>
            <div class="title-hint d-flex flex-column">
              <span>B&B Italian Sofa </span>
              <span>$32.00</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
