@import "../../../../../assets/scss/mixins";

//start trend-content

.container {
  white-space: pre-line;
}

.trend-content {
  background-color: #f1f0ff;
  padding-top: 36px;
  margin-bottom: 135px;
  .img-trend {
    z-index: 1;
    .Ellipse {
      left: 0;
      top: 0;
      z-index: -1;
    }
  }
  .trend-text {
    padding-bottom: 95px;
    h3 {
      color: #151875;
      font-family: var(--font-family-josefin);
      font-size: var(--font-size-xxlarge);
      font-weight: 700;
      margin-bottom: 30px;
    }
    ul {
      list-style: none;
      padding-left: 23px;
      li {
        position: relative;
        margin-bottom: 13px;
        color: #acabc3;
        font-size: var(--font-size-medium);
        font-weight: 500;
        &::before {
          content: "";
          position: absolute;
          width: 11px;
          height: 11px;
          background-color: #2b2bf5;
          left: -23px;
          top: 50%;
          transform: translate(0, -50%);
          border-radius: 50%;
        }
      }
      & {
        li:first-child {
          &::before {
            background-color: #f52b70;
          }
        }
        li:last-child {
          margin-bottom: 38px;
          &::before {
            background-color: #2bf5cc;
          }
        }
      }
    }
    .btn-cart {
      a {
        padding: 14px 24px;
        border-radius: 2px;
        background: #fb2e86;
        margin-right: 19px;
        color: var(--white);
        font-family: var(--font-family-josefin);
        font-size: 17px;
        font-weight: 600;
        letter-spacing: 0.34px;
      }
      .title-hint {
        span:first-child {
          color: var(--primary-color);
          font-family: var(--font-family-josefin);
          font-size: var(--font-size-small);
          font-weight: 600;
          letter-spacing: 0.28px;
        }
        span:last-child {
          color: var(--primary-color);
          font-size: var(--font-size-small);
          font-weight: 400;
        }
      }
    }
  }
}

//end trend-content
//start style for rtl

:host-context([dir="rtl"]) {
  .trend-content {
    .img-trend {
      .Ellipse {
        right: 15px;
      }
    }
    .trend-text {
      h3 {
        font-family: var(--font-family-lateef);
        font-size: var(--font-size-xxxlarge);
      }
      ul {
        padding-right: 23px;
        li {
          font-size: var(--font-size-xlarge);
          &::before {
            content: "";
            right: -23px;
          }
        }
      }
      .btn-cart {
        a {
          margin-left: 19px;
          font-family: var(--font-family-lateef);
          font-size: var(--font-size-large);
        }
        .title-hint {
          span:first-child {
            font-family: var(--font-family-lateef);
            font-size: var(--font-size-xlarge);
          }
          span:last-child {
            font-size: var(--font-size-xlarge);
          }
        }
      }
    }
  }
}
