<div *ngIf="isLoading" class="loading-spinner">
  <div class="spinner">
    <img src="../../../../assets/images/home/Icon/furniture.gif" alt="" />
  </div>
</div>
<div class="login-form">
  <div class="container">
    <div class="row min-vh-100">
      <div
        class="col-lg-6 col-12 m-auto gap-3 bg-white shadow p-sm-5 px-3 py-5 rounded-2 d-flex flex-column"
      >
        <div class="title-login text-center">
          <h1>{{ "Login.login" | translate }}</h1>
          <p>{{ "Login.description" | translate }}</p>
        </div>
        <form
          class="d-flex gap-4 flex-column"
          [formGroup]="loginForm"
          (ngSubmit)="login()"
        >
          <div *ngIf="errorMessage" class="error-message">
            <p class="error-text">{{ errorMessage }}</p>
          </div>
          <!-- Email input -->
          <div class="d-flex flex-column gap-2">
            <label class="emailAddress-label" for="emailAddress">
              {{ "Login.email" | translate }}</label
            >
            <input
              type="email"
              id="emailAddress"
              class="emailAddress-input"
              formControlName="email"
              [placeholder]="'Login.email' | translate"
            />
            <div
              *ngIf="
                loginForm.get('email')?.errors &&
                loginForm.get('email')?.touched
              "
              class="error-message mb-0"
            >
              <p class="error-text" *ngIf="getErrorMessage('email')">
                {{ getErrorMessage("email") | translate }}
              </p>
            </div>
          </div>

          <!-- Password input -->
          <div class="d-flex flex-column gap-2">
            <label class="password-label" for="password">{{
              "Login.password" | translate
            }}</label>
            <input
              type="password"
              id="password"
              class="password-input"
              placeholder="{{ 'Login.password' | translate }}"
              formControlName="password"
            />
            <div
              *ngIf="
                loginForm.get('password')?.errors &&
                loginForm.get('password')?.touched
              "
              class="error-message mb-0"
            >
              <p class="error-text" *ngIf="getErrorMessage('password')">
                {{ getErrorMessage("password") | translate }}
              </p>
            </div>
          </div>

          <!-- Submit button -->
          <div class="d-flex align-items-center flex-column flex-md-row">
            <div class="d-flex col-md-5 col-12">
              <button type="submit" class="btn btn-signIn">
                {{ "Login.signIn" | translate }}
              </button>
            </div>

            <!-- Register buttons -->
            <div class="hint-register col-md-7 col-12 mx-3 my-3 my-md-0">
              <p>
                {{ "Login.noAccount" | translate }}
                <a [routerLink]="['/', currentLang, 'register']">{{
                  "Login.createAcc" | translate
                }}</a>
              </p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
