<div class="login-form">
  <div class="container">
    <div class="row min-vh-100">
      <div
        class="col-lg-6 col-12 m-auto gap-3 bg-white shadow p-5 rounded-2 d-flex flex-column"
      >
        <div class="title-login text-center">
          <h1>{{ "Login.login" | translate }}</h1>
          <div *ngIf="error" class="alert alert-primary mb-0">
            <h5>
              {{ error }}
            </h5>
          </div>
          <p>{{ "Login.description" | translate }}</p>
        </div>
        <form
          class="d-flex gap-4 flex-column"
          [formGroup]="loginForm"
          (ngSubmit)="submitLogin(loginForm)"
        >
          <!-- Email input -->
          <div class="d-flex flex-column gap-2">
            <label class="emailAddress-label" for="emailAddress">
              {{ "Login.emailAddress" | translate }}</label
            >
            <input
              type="email"
              id="emailAddress"
              class="emailAddress-input"
              formControlName="email"
              placeholder="{{ 'Login.emailAddress' | translate }}"
            />
            <div
              *ngIf="
                loginForm.get('email')?.errors &&
                loginForm.get('email')?.touched
              "
              class="alert alert-primary mb-0"
              role="alert"
            >
              <p *ngIf="loginForm.get('email')?.errors?.['required']">
                <strong>{{ "Login.email" | translate }}</strong>
                {{ "Login.required" | translate }}
              </p>
              <p *ngIf="loginForm.get('email')?.errors?.['email']">
                <strong>{{ "Login.email" | translate }}</strong>
                {{ "Login.invalid" | translate }}
              </p>
            </div>
          </div>

          <!-- Password input -->
          <div class="d-flex flex-column gap-2">
            <label class="password-label" for="password">{{
              "Login.password" | translate
            }}</label>
            <input
              type="password"
              id="password"
              class="password-input"
              placeholder="{{ 'Login.password' | translate }}"
              formControlName="password"
            />
            <div
              *ngIf="
                loginForm.get('password')?.errors &&
                loginForm.get('password')?.touched
              "
              class="alert alert-primary mb-0"
              role="alert"
            >
              <p *ngIf="loginForm.get('password')?.errors?.['required']">
                <strong>{{ "Login.password" | translate }}</strong>
                {{ "Login.required" | translate }}
              </p>
              <p *ngIf="loginForm.get('password')?.errors?.['pattern']">
                <strong>{{ "Login.password" | translate }}</strong>
                {{ "Login.condition" | translate }}
              </p>
            </div>
          </div>

          <!-- Submit button -->
          <div class="d-flex forgot-pass">
            <a [routerLink]="['/', currentLang, 'resetPassword']">{{
              "Login.forgot" | translate
            }}</a>
          </div>

          <!-- Submit button -->
          <div class="d-flex">
            <button
              type="submit"
              class="btn btn-signIn"
              [disabled]="loginForm.invalid"
            >
              {{ "Login.signIn" | translate }}
            </button>
          </div>

          <!-- Register buttons -->
          <div class="text-center hint-register">
            <p>
              {{ "Login.noAccount" | translate }}
              <a [routerLink]="['/', currentLang, 'register']">{{
                "Login.createAcc" | translate
              }}</a>
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
