@import "../../../../../assets/scss/mixins";

//start discount-content

.discount-content {
  margin: 150px 0 79px !important;
  ::ng-deep {
    .owl-carousel {
      position: relative !important;
      .owl-dots {
        margin-top: 0 !important;
        width: 100%;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%);
        @include respond-to(small) {
          top: -50px;
        }
        .owl-dot {
          &.active,
          &:hover {
            span {
              &::before {
                color: white;
              }
              &::after {
                height: 100%;
              }
            }
          }
          span {
            position: relative;
            width: 150px;
            padding: 20px 15px;
            display: block;
            background: none;
            transition: 0.4s;

            &::after {
              content: "";
              width: 100%;
              height: 0;
              position: absolute;
              left: 0;
              background-color: var(--accent-bg-color);
              top: 50%;
              transform: translate(0, -50%);
              z-index: -1;
              transition: 0.4s;
            }

            &:first-child::before,
            &:last-child::before,
            &::before {
              position: absolute;
              width: 100%;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
              font-size: var(--font-size-large);
              font-weight: 400;
              transition: 0.3s;
            }
            &::before {
              content: "Plastic Chair";
            }
          }
          &:first-child {
            span {
              &::before {
                content: "Wood Chair";
              }
            }
          }
          &:last-child {
            span {
              &::before {
                content: "Sofa Colletion";
              }
            }
          }
        }
      }
    }
  }
  .discount-item {
    .item-text {
      h2 {
        color: var(--primary-color);
        font-family: var(--font-family-josefin);
        font-size: var(--font-size-xxlarge);
        font-weight: 700;
        letter-spacing: 0.525px;
        margin-bottom: 16px;
      }
      span {
        color: var(--accent-text-color);
        font-family: var(--font-family-josefin);
        font-size: 21px;
        font-weight: 400;
        letter-spacing: 0.315px;
        margin-bottom: 20px;
        display: block;
      }
      p {
        color: #b7bacb;
        font-size: 17px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0.34px;
        margin-bottom: 28px;
      }
      ul {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
        margin-bottom: 37px;
        li {
          width: 50%;
          padding-left: 25px;
          position: relative;
          color: #b8b8dc;
          font-size: var(--font-size-medium);
          font-weight: 400;
          margin-bottom: 10px;
          @include respond-to(xlarge) {
            width: 100%;
          }
          &::before {
            font: var(--fa-font-solid);
            content: "\f00c";
            position: absolute;
            left: 0;
            top: 0;
            color: #7569b2;
            font-size: 20px;
            padding-top: 3px;
          }
        }
      }
      .btn {
        color: var(--white-text);
        font-family: var(--font-family-josefin);
        font-size: 17px;
        font-weight: 400;
        letter-spacing: 0.34px;
        padding: 20px 48px;
        background-color: var(--accent-bg-color);
        border-radius: 0;
      }
    }
    .item-img {
      display: flex;
      justify-content: center;
      .ellipse {
        left: 50%;
        top: 50%;
        max-width: 472px;
        max-height: 472px;
        z-index: -1;
        transform: translate(-50%, -50%);
      }
    }
  }
}

//end discount-content
//start style for rtl

:host-context([dir="rtl"]) {
  .discount-content {
    .discount-item {
      .item-text {
        h2 {
          font-family: var(--font-family-lateef);
          font-size: var(--font-size-xxlarge);
        }
        span {
          font-family: var(--font-family-lateef);
          font-size: var(--font-size-xlarge);
        }
        p {
          font-size: var(--font-size-xlarge);
        }
        ul {
          li {
            font-size: var(--font-size-xlarge);
            padding-right: 22px;

            &::before {
              right: 0;
            }
          }
        }
      }
    }
  }
}
