<!-- <div class="leatest-blog">
  <div class="container">
    <div class="title-head">{{ "HOME.leatBlogTittle" | translate }}</div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-12 leatPro">
        <div class="card border-0">
          <img
            class="card-img-top mw-100"
            src="../../../../../assets/images/home/JIUjvqe2ZHg.png"
            alt="Title"
          />
          <div class="card-body">
            <div class="leatestInfo d-flex align-items-center">
              <div class="info d-flex">
                <i class="pen fa-solid fa-pen-nib fa-fw"></i>
                <p>
                  {{ "HOME.leatestBlog.name1" | translate }}
                </p>
              </div>
              <div class="d-flex">
                <i class="date fa-regular fa-calendar-days fa-fw"></i>
                <p>
                  {{ "HOME.leatestBlog.date1" | translate }}
                </p>
              </div>
            </div>
            <h4 class="card-title leatestColor1">
              {{ "HOME.leatestBlog.leatestTilttle1" | translate }}
            </h4>
            <p class="card-text">
              {{ "HOME.leatestBlog.leatestDescription1" | translate }}
            </p>
            <a class="leatestColor1" href="">{{
              "HOME.leatestBlog.leatestLink" | translate
            }}</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12 leatPro">
        <div class="card border-0">
          <img
            class="card-img-top mw-100"
            src="../../../../../assets/images/home/2dcYhvbHV-M.png"
            alt="Title"
          />
          <div class="card-body">
            <div class="leatestInfo d-flex align-items-center">
              <div class="info d-flex">
                <i class="pen fa-solid fa-pen-nib fa-fw"></i>
                <p>
                  {{ "HOME.leatestBlog.name2" | translate }}
                </p>
              </div>
              <div class="d-flex">
                <i class="date fa-regular fa-calendar-days fa-fw"></i>
                <p>
                  {{ "HOME.leatestBlog.date2" | translate }}
                </p>
              </div>
            </div>
            <h4 class="card-title leatestColor2">
              {{ "HOME.leatestBlog.leatestTilttle2" | translate }}
            </h4>
            <p class="card-text">
              {{ "HOME.leatestBlog.leatestDescription2" | translate }}
            </p>
            <a class="leatestColor2" href="">{{
              "HOME.leatestBlog.leatestLink" | translate
            }}</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12 leatPro">
        <div class="card border-0">
          <img
            class="card-img-top mw-100"
            src="../../../../../assets/images/home/dcYhvbHV-M.png"
            alt="Title"
          />
          <div class="card-body">
            <div class="leatestInfo d-flex align-items-center">
              <div class="info d-flex">
                <i class="pen fa-solid fa-pen-nib fa-fw"></i>
                <p>
                  {{ "HOME.leatestBlog.name1" | translate }}
                </p>
              </div>
              <div class="d-flex">
                <i class="date fa-regular fa-calendar-days fa-fw"></i>
                <p>
                  {{ "HOME.leatestBlog.date1" | translate }}
                </p>
              </div>
            </div>
            <h4 class="card-title leatestColor1">
              {{ "HOME.leatestBlog.leatestTilttle1" | translate }}
            </h4>
            <p class="card-text">
              {{ "HOME.leatestBlog.leatestDescription1" | translate }}
            </p>
            <a class="leatestColor1" href="">{{
              "HOME.leatestBlog.leatestLink" | translate
            }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
