@import "../../../../../assets/scss/mixins";

//start leatest blog

.leatest-blog {
  margin: 130px 0;

  .leatPro {
    margin-bottom: 10px;
    border-radius: 5px;
    /* shadow */
    box-shadow: 0px 8px 40px 0px rgba(49, 32, 138, 0.05);

    .leatestInfo {
      .info {
        margin-right: 29px;
      }

      .date {
        color: #ffa454;
      }

      .pen {
        color: var(--accent-color);
      }

      p {
        padding-left: 4px;
        color: var(--primary-color);
        font-family: var(--font-family-josefin);
        font-size: var(--font-size-small);
        font-weight: 400;
      }
    }

    .card-title {
      margin-top: 31px;
      font-family: var(--font-family-josefin);
      font-size: var(--font-size-large);
      font-weight: 700;
    }

    .card-text {
      color: #72718f;
      font-size: var(--font-size-medium);
      font-weight: 400;
      line-height: 30px;
      margin-top: 17px;
      margin-bottom: 14px;
    }

    a {
      font-size: var(--font-size-medium);
      font-weight: 400;
      line-height: 30px;
      text-decoration-line: underline;
    }

    .leatestColor1 {
      color: var(--primary-color);
    }

    .leatestColor2 {
      color: var(--accent-color);
    }
  }
}

//end leatest blog
//start style for rtl
:host-context([dir="rtl"]) {
  .leatest-blog {
    .leatPro {
      .leatestInfo {
        .info {
          margin-left: 29px;
          margin-right: 0px;
        }
      }
      .card-text {
        font-size: var(--font-size-xlarge);
      }
      a {
        font-size: var(--font-size-xlarge);
      }
    }
  }
}
