@import "../../../../../assets/scss/mixins";

h3 {
  color: var(--primary-color);
  font-family: var(--font-family-josefin);
  font-size: 36px;
  font-weight: 700;
  line-height: 48px; /* 133.333% */
  @include respond-to(medium) {
    font-size: 30px;
  }
}
p {
  color: #8a8fb9;
  font-size: 16px;
  font-weight: 600;
  line-height: 25.6px; /* 160% */
}
ul {
  li {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 30px;
  }
  .c1 {
    background-color: #5625df;
  }
  .c2 {
    background-color: #ff27b7;
  }
  .c3 {
    background-color: #37daf3;
  }
}
