<div>
  <h3>{{ "CONTACT.form.tittle" | translate }}</h3>
  <p class="mt-3">
    {{ "CONTACT.form.description" | translate }}
  </p>
  <form action="javascript:void(0)" (submit)="send()">
    <div class="forms" [formGroup]="form">
      <div class="mb-3 mt-4 d-flex align-items-center">
        <input
          formControlName="from_name"
          type="text"
          id="inputName"
          placeholder="{{ 'CONTACT.form.yourName' | translate }}"
          class="form-control text w-50"
        />
        <input
          formControlName="from_email"
          type="email"
          id="email"
          placeholder="{{ 'CONTACT.form.yourEmail' | translate }}"
          class="form-control w-50"
        />
      </div>
      <div class="mb-3">
        <input
          formControlName="subject"
          type="text"
          id="text"
          placeholder="{{ 'CONTACT.form.Subject' | translate }}"
          class="form-control w-100"
        />
      </div>
      <div class="mb-3">
        <textarea
          formControlName="message"
          class="form-control w-100"
          id="message"
          placeholder="{{ 'CONTACT.form.Messege' | translate }}"
        ></textarea>
      </div>
      <div class="submit">
        <button type="submit" class="btn">
          {{ "CONTACT.form.btn" | translate }}
        </button>
      </div>
    </div>
  </form>
</div>
