<div class="container ourEcommerce">
  <div class="row">
    <div class="col-lg-6 col-12 mb-3">
      <div class="image">
        <img
          src="../../../../../assets/images/about us/Rectangle 56.png"
          alt=""
          class="mw-100"
        />
      </div>
    </div>
    <div class="col-lg-6 col-12">
      <h3>Know About Our Ecomerce Business, History</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mattis neque
        ultrices mattis aliquam, malesuada diam est. Malesuada sem tristique
        amet erat vitae eget dolor lobortis. Accumsan faucibus vitae lobortis
        quis bibendum quam.
      </p>
      <button type="submit" class="btn">Contact us</button>
    </div>
  </div>
</div>
