<div class="container ourEcommerce">
  <div class="row">
    <div class="col-lg-6 col-12 mb-3">
      <div class="image">
        <img
          src="../../../../../assets/images/about us/Rectangle 56.png"
          alt=""
          class="mw-100"
        />
      </div>
    </div>
    <div class="col-lg-6 col-12">
      <h3>{{ "ABOUT.ourEcommerce.title" | translate }}</h3>
      <p>
        {{ "ABOUT.ourEcommerce.description" | translate }}
      </p>
      <button type="submit" class="btn">
        {{ "ABOUT.ourEcommerce.btn" | translate }}
      </button>
    </div>
  </div>
</div>
