@import "../../../../../assets/scss/mixins.scss";
.ourEcommerce {
  margin-top: 119px;
  .image {
    img {
      background-color: var(--primary-color);
      padding-bottom: 19px;
      padding-left: 15px;
      border-radius: 7px;
    }
  }
  h3 {
    color: var(--primary-color);
    font-family: var(--font-family-josefin);
    font-size: 36px;
    font-weight: 700;
    line-height: 48px; /* 133.333% */
    margin-bottom: 14px;
    @include respond-to(medium) {
      font-size: 27px;
    }
  }
  p {
    color: #8a8fb9;
    font-size: var(--font-size-medium);
    font-weight: 600;
    line-height: 25.6px; /* 160% */
    margin-bottom: 25px;
  }
  button {
    width: 157px;
    height: 44px;
    background-color: var(--accent-color);
    color: var(--white);
    font-family: var(--font-family-josefin);
    font-size: var(--font-size-medium);
    font-weight: 400;
    line-height: 25.6px; /*160%*/
  }
}

:host-context([dir="rtl"]) {
  .ourEcommerce {
    h3 {
      font-family: var(--font-family-lateef);
    }
    p {
      font-size: var(--font-size-large);
    }
    button {
      font-family: var(--font-family-lateef);
      font-size: var(--font-size-xlarge);
    }
  }
}
