@import "../../../../../assets/scss/mixins";

//start newslater

.container {
  white-space: pre-line;
}
.newslater {
  height: 462px;
  background-image: url("../../../../../assets/images/home/newSlater/mockup.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  .title {
    p {
      text-align: center;
      color: var(--primary-color);
      font-family: var(--font-family-josefin);
      font-size: var(--font-size-xxlarge);
      font-weight: 700;
      line-height: 155%;
      /* 54.25px */
      letter-spacing: 0.525px;

      @include respond-to(small) {
        font-size: 30px;
      }
    }
  }

  .btn {
    margin-top: 28px;
    padding: 16px 34px;
    background-color: var(--accent-color);
    color: var(--white);
    font-family: var(--font-family-josefin);
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0.34px;
  }
}

//end newslater
//start style for rtl
:host-context([dir="rtl"]) {
  .newslater {
    .title {
      p {
        font-family: var(--font-family-lateef);
      }
    }
  }
}
